<form id="createCard"
      class="card-form"
  hx-on::before-swap="
  if (event.detail.isError) {
    event.detail.target = document.getElementById('createError');
    event.detail.shouldSwap = true;
  } else {
    event.detail.target = document.getElementById('editCards');
    event.detail.swapOverride = 'afterBegin';
    this.reset();
  }"
  >
  <div id="createCardFields" class="card-fields">
    <label for="frontLang" class="card-lang-label">Front Language</label>
    <select required name="frontLang" id="frontLang" class="card-lang">
      <option value=""
          {% if stack.front_lang_selected("") %} selected {% endif %}
        >Please choose a language
      </option>
      {% for c in lang_choices %}
      <option value="{{ c.0 }}" {% if stack.front_lang_selected(c.0) %} selected {% endif %}>
      {{ c.1 }}
      </option>
      {% endfor %}
    </select>
    <label for="frontText" class="card-text-label">Front Text</label>
    <input required type="text" class="card-text" id="frontText" name="frontText" />
    <label for="backLang" class="card-lang-label">Back Language</label>
    <select required name="backLang" id="backLang" class="card-lang">
      <option value=""
          {% if stack.back_lang_selected("") %} selected {% endif %}
        >Please choose a language
      </option>
      {% for c in lang_choices %}
      <option value="{{ c.0 }}" {% if stack.back_lang_selected(c.0) %} selected {% endif %}>
      {{ c.1 }}
      </option>
      {% endfor %}
    </select>
    <label for="backText" class="card-text-label">Back Text</label>
    <input required type="text" class="card-text" id="backText" name="backText" />
    <input type="hidden" name="stackId" value="{{ stack.uri }}" />
  </div>
  <div id="createCardButton" class="card-buttons">
    <button hx-post="/cards/create">Create Card</button>
  </div>
  {% if let Some(err) = error %}
  <div id="createError" class="form-error">
    {{ err }}
  </div>
  {% endif %}
</form>
