{% extends "base.html" %} {% block content %}

<div id="root">
  <div class="error"></div>
  <div id="header">
    <h1>Flatshcards</h1>
    <p>Flashcards on the Atmosphere.</p>
  </div>
  <div class="container">
    <div class="card">
      <form action="/stacks" method="post" class="stack-form">
        <label for="stackLabel">Stack Label</label>
        <input
          type="text"
          id="stackLabel"
          name="stackLabel"
          placeholder="Chapter 1"
          required
        />
        <label for="frontLang">Front Language (Optional)</label>
        <select name="frontLang" id="frontLang">
          <option value="" selected>(None)</option>
          {% for c in lang_choices %}
          <option value="{{ c.0 }}">{{ c.1 }}</option>
          {% endfor %}
        </select>
        <label for="backLang">Back Language (Optional)</label>
        <select name="backLang" id="backLang">
          <option value="" selected>(None)</option>
          {% for c in lang_choices %}
          <option value="{{ c.0 }}">{{ c.1 }}</option>
          {% endfor %}
        </select>
        <button type="submit">Create Stack</button>
        {% if let Some(error) = self.error %}
        <p class="error">Error: {{ error }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{%endblock content%}
